*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.menu-button{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding: 50px;
}
.menu-button a{
    margin: 50px;
    padding: 50px;
}
h2{
    text-align: center;
    margin: 20px 0 150px 0;
}
table{
    margin-left: auto;
    margin-right: auto;
}